#This Apache config file was created by Duplicator Installer on 2022-04-23 23:00:03.
#The original can be found in archived file with the name .htaccess__[HASH]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /strings-of-humanity/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /strings-of-humanity/index.php [L]
</IfModule>
# END WordPress